{% include 'ucp_header.html' %}

<h2>{{ lang('UCP_BBPATREON_TITLE') }}</h2>

<div class="panel">
	<div class="inner">
		{% if S_ERROR %}
			<p class="error">{{ ERROR_MSG }}</p>
		{% endif %}

		{% if S_PATREON_LINKED %}
			<div class="patreon-status">
				<h3>{{ lang('UCP_BBPATREON_LINKED_STATUS') }}</h3>
				<dl>
					<dt>{{ lang('UCP_BBPATREON_PATREON_ID') ~ lang('COLON') }}</dt>
					<dd>{{ PATREON_USER_ID }}</dd>
				</dl>
				{% if PATREON_TIER_LABEL %}
				<dl>
					<dt>{{ lang('UCP_BBPATREON_TIER') ~ lang('COLON') }}</dt>
					<dd>{{ PATREON_TIER_LABEL }}</dd>
				</dl>
				{% endif %}
				<dl>
					<dt>{{ lang('UCP_BBPATREON_STATUS') ~ lang('COLON') }}</dt>
					<dd>{{ PATREON_PLEDGE_STATUS }}</dd>
				</dl>
				<dl>
					<dt>{{ lang('UCP_BBPATREON_PLEDGE') ~ lang('COLON') }}</dt>
					<dd>${{ PATREON_PLEDGE_AMOUNT }}</dd>
				</dl>
			</div>

			<form method="post" action="{{ U_UCP_ACTION }}">
				<fieldset class="submit-buttons">
					<input class="button2" type="submit" name="unlink" value="{{ lang('UCP_BBPATREON_UNLINK') }}" onclick="return confirm('{{ lang('UCP_BBPATREON_UNLINK_CONFIRM') }}');">
					{{ S_FORM_TOKEN }}
				</fieldset>
			</form>
		{% else %}
			<div class="patreon-link">
				<p>{{ lang('UCP_BBPATREON_NOT_LINKED') }}</p>
				<form method="post" action="{{ U_UCP_ACTION }}">
					<input class="button1" type="submit" name="link" value="{{ lang('UCP_BBPATREON_LINK_ACCOUNT') }}">
					{{ S_FORM_TOKEN }}
				</form>
			</div>
		{% endif %}
	</div>
</div>

{% include 'ucp_footer.html' %}
